*.bak
*.dwl
*.dwl2
*.tmp
*.log
*~$*
cd/~$1.1-Te-dhenat-kadastrale-zyrtare-ne-forme-digjitale-229-4.xlsx
cd/~$7---Koordinatat-e-pikave-për-parcelë.xlsx
cd/~$--Mbështjellësi-i-lëndës.docx
cd/~$--Raporti-Teknik.doc
cd/~$-Korigjiimi-i-sipërfaqes.doc
